body {
    margin: 0 !important;
    padding: 0 !important;
}


.page {
    display: flex !important;
}

.detailsbox {
    width: 40%;
    padding: 32px;
    height: 100vh !important;
    overflow-y: scroll;
}

.previewbox {
    width: 60%;
    background: rgb(101, 110, 131);
    padding: 32px !important;
    height: 100vh !important;
    overflow-y: scroll;
}

.profile-photo-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.experience-item {
    margin-bottom: 20px;
}

#resume-preview {
    background: #FFF !important;
    margin-top: 32px !important;
}


.template-image {
    /* display: none; */
    /* Hide images by default */
    width: 100%;
    /* Adjust width as needed */
    max-width: 300px;
    /* Adjust max-width as needed */
    margin-top: 10px;
}

.template-image.active {
    display: block;
    /* Show image when active */
}

.template-item .active {
    border: 2px solid #007bff;
    /* Highlight checked items */
}

#template-select {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.template-item input {
    display: none;
}
